header{
    background: var(--blackBg);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    height: 4.2rem;
    padding: 0 0.8rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.logo{
    position: relative;
    width: 23%;
    height: 100%;
}
.logo p{
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2rem;
    color: var(--secondary-color);
}
.logo p span{
    color: var(--secondary-sec-color);
    font-family:cursive ;
    font-size:1.4rem ;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 3;
}
.linksBX{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:40% ;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-right:0.5rem;
}
ul li .navlink{
    color: var(--subtle-text-color);
    text-decoration: none;
}
ul li .navlink.active{
    color: var(--main-text-color);
}
.nav-icon{
    margin-right: 0.2rem;

}
.navBtn{
    color: var(--main-text-color);
    text-decoration: none;
}
.meun-icon{
    display: none;
}
.menulinksBX{
    display: none;
}

@media(max-width: 720px){
    .linksBX{
        display:none;
        border: 1px solid green;
    }
    .meun-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
    }
    .menulinksBX{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 10px;
        
    }
    .menulinksBX ul{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
    }
    .close-icon{
        margin-top: 1.1rem;
        text-align: center;
    }
}