.viweApartment{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.veiwApartmentBx{
    
    padding-top: 3rem;
    
}
.apartmentandmap{
    display: flex;
    flex-direction:column;
    min-height: 30.1rem;
    padding: 10px;

}
.features{
    margin-top: 1rem;
    font-size: 19px;
}
.features p{
    color:var(--button-sec-color);
    margin-bottom: 0.6rem;
}
.features div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.DApartment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    
}
.DApartment .apartImg{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.DApartment .apartImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.title-status{
    display: flex;
    flex-wrap: wrap;
}
.title-status h4{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-family: 600;
}
.title-status .status{
    color: var(--button-sec-color);
    font-size: 18px;
}
.map_other-details_features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.3rem;
    width: 100%;
    
}
.other-detail span{
    color: var(--secondary-sec-color);
    font-size: 18px;
}
.other-detail .apartmentLocation{
    color: var(--button-sec-color);
    font-size: 20px;
    margin: 0.5rem 0;
}
.of{
    width: 40%;
}
.mapBx{
    width: 50%;
    height:300px;
}
.leaflet-container{
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
