:root{
  --subtle-text-color: rgba(255, 255, 255, 0.486);
  --main-text-color : white;
  --shadow : 0px 23px 8px rgba(136,160,255,0.25);
  --blackBg : linear-gradient(60deg, #1c1c1c, #161616);
  --secondary-color: rgba(255, 166, 0, 0.589);
  --secondary-sec-color: rgba(153, 107, 23, 0.651);
  --button-Bgcolor:linear-gradient(120deg,rgba(26, 26, 148, 0.658),rgb(6, 6, 228)) ;
  --button-sec-color:#072352b9;
  --primary-color :#1f3e72;
  --secondaryBg : linear-gradient(20deg, rgba(114, 109, 109, 0.384), #33333375);
}
html{
  font-size: 16px;
}

*{
  padding :0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  justify-content: space-between;
}
.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.flexCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flexCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexStart{
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
}
.innerwidth{
  width: 100%;
  
}
.btn{
  width: 6.5rem;
  height: 2.7rem;
  border: none;
  font-size: 1rem;
  background: var(--button-Bgcolor);
  border-radius: 0.9rem;
  color: var(--main-text-color);
}
.imgBx{
  width: 20rem;
  height: 25rem;
  border-top-left-radius: 10rem;
 border-top-right-radius: 10rem;
 background: rgba(82, 79, 79, 0.459);
 box-shadow: var(--shadow);
}
.imgBx img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10rem;
 border-top-right-radius: 10rem;
}
.icon{
  color: var(--primary-color);
}
.sectionTitle{
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
.des{
  color: #17173d36;
  font-size: 14px;
  font-weight: 600;
}
@media(min-width:1336px){
  .innerwidth{
    max-width: 1000px ;
    margin: auto;
    
  }
}
